@page
@model ForgotPasswordModel


<h1>@ViewData["Title"]</h1>

<br />
<br />
<br />
@*<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
    </div>
</div>*@
<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-6 col-lg-6 col-xl-4 offset-xl-1">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <img src="https://cdn-icons-png.flaticon.com/512/597/597356.png"
                         class="rounded mx-auto d-block col-5" alt="Sample image">
                    <br />

                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <p class="lead fw-normal mb-0 me-3">Send Reset Password Mail</p>           
                    </div>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label asp-for="Input.Email" class="form-label">Email</label>
                        <input asp-for="Input.Email" class="form-control form-control-lg" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="text-center text-lg-start mt-4 pt-2">
                        @*<button type="submit" id="login-submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>*@
                        <button type="submit" class="w-100 btn btn-lg btn-warning">Reset Password</button>
                        <p class="small fw-bold mt-2 pt-1 mb-0"> Don't have an account? <a asp-page="./Register" class="link-danger">Register</a> </p>
                    </div>
                </form>
            </div>
        </div>
    </div>



</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
