@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <ul>

        <li class="nav-item" style="display:inline-block">
            <a id="manage" class="btn btn-outline-light me-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile <i class="fa-regular fa-user"></i></a>
        </li>
        <li class="nav-item" style="display:inline-block">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="btn btn-warning">Logout <i class="fa-solid fa-power-off"></i></button>
            </form>
        </li>
    </ul>
}
else
{
    <ul>

        <li class="nav-item" style="display:inline-block">
            <a type="button" id="register" asp-area="Identity" asp-page="/Account/Register" class="btn btn-warning">Sign-up</a>
        </li>
        <li class="nav-item" style="display:inline-block">
            <a type="button" id="login" class="btn btn-outline-light me-2" asp-area="Identity" asp-page="/Account/Login">Login <i class="fa-solid fa-arrow-right-to-bracket"></i></a>

        </li>
    </ul>
   
}

